.movie {
	margin: 64px auto;
	width: 90%;
	.search-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		h1 {
			padding: 5px;
			font-size: 1.7rem;
		}
		.search {
			display: flex;
			width: 40%;
			align-items: center;
			input {
				width: 100%;
				// min-width: 70%;
				position: relative;
				border-radius: 20px;
				padding: 10px;
				margin-right: 25px;
				outline: 2px solid #febf00;
				transition: 0.25s;
				border: none;
				outline-offset: 3px;
				&:focus {
					outline-offset: 5px;
				}
			}
			svg {
				position: absolute;
				right: 8%;
				width: 30px;
				height: 30px;
				padding: 3px;
				cursor: pointer;
			}
		}
	}
	.movie-wrapper {
		display: grid;
		// grid-template-columns: repeat(6, 1fr);
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		grid-auto-rows: minmax(100px, auto);
		gap: 15px; /* khoảng cách giữa các ô */

		.movie-item {
			border-radius: 10px;
			border: 1px solid #ccc;
			.action-card {
				margin: 0;
				width: 100%;
				.img-wrapper {
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
	.next-page {
		display: flex;
		justify-content: center;
		background-color: red;
	}
}
@media only screen and (max-width: 600px) {
	.movie {
		.search-wrapper {
			.search {
				input {
					padding-right: 20px;
					margin: 0;
				}
			}
		}
		.movie-wrapper {
			gap: 10px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-auto-rows: minmax(100px, auto);
			.movie-item {
				.action-card {
					width: 100%;
				}
			}
		}
	}
}
@media screen and (min-width: 601px) and (max-width: 991px) {
	.movie {
		display: flex;
		flex-direction: column;
		align-items: center;
		.search-wrapper {
			width: 100%;
		}
		.movie-wrapper {
			display: grid;
			gap: 10px;
			grid-template-columns: repeat(4, 1fr);
			grid-auto-rows: minmax(100px, auto);
			padding: 0 10px;
		}
	}
}
