.Latest_wrapper {
	padding: 40px 40px 0 40px;
	.Latest-top {
		padding: 0 20px;
		display: flex;
		align-items: center;
		h1 {
			padding-right: 20px;
		}
		.switch-toggle {
			border-radius: 30px;

			border: 1px solid #032541;

			button {
				font-size: 1em;
				padding: 4px 20px;
				border-radius: 20px;
				font-weight: 600;
				border: none;
				background: transparent;
				cursor: pointer;
			}
			.active {
				background-color: #032541;
				color: #63e7b9;
			}
		}
	}
	.Latest-container {
		display: flex;
		// padding: 0 20px;
		.cardVideo_wrapper {
			.top {
				margin-left: 20px;
				.top-video {
					width: 300px;
					height: calc(300px / 1.78);
					img {
						width: 100%;
						height: 100%;
						border-radius: 5px;
					}
				}
				.top-action {
				}
			}
			.title {
				padding: 26px 10px 12px 10px;
				h2 {
					font-weight: 700;
					color: #000;
					font-size: 17px;
					margin: 0;
					&:hover {
						color: #01b4e4;
						cursor: pointer;
					}
				}
				p {
					margin-top: 0;
				}
			}
		}
	}
}
