.footer_wrapper {
	position: relative;
	.footer_content {
		width: 100%;
		display: flex;
		padding: 80px 0;
		justify-content: center;
		background: #032541;
		color: #fff;
		margin-top: 20px;
		bottom: 0;
		.logo {
			img {
				width: 150px;
				height: 150px;
				cursor: pointer;
			}
		}
		.account {
			padding: 8px 16px;
			background: #fff;
			margin-top: 30px;
			color: #01b4e4;
			font-weight: 700;
			border-radius: 5px;
			cursor: pointer;
		}
		ul {
			font-weight: 600;
			list-style: none;
			h3 {
				cursor: text;
			}
			li {
				cursor: pointer;
			}
		}
	}
}
@media only screen and (max-width: 600px) {
	.footer_wrapper {
		.footer_content {
			font-size: 0.6rem;
			padding: 40px 10px;
			.logo {
				img {
					width: 100px;
					height: 100px;
				}
			}
			.account {
				margin-top: 15px;
			}
			ul {
				padding-left: 10px;
				h3 {
					font-size: 0.7rem;
				}
			}
		}
	}
}
@media screen and (min-width: 601px) and (max-width: 991px) {
	.footer_wrapper {
		.footer_content {
			padding: 80px 20px;
		}
	}
}
