.trending {
	.trending-top {
	}
	.menu-wrapper {
		height: 10px;
		background: red;
	}
	.trending-container {
		display: flex;
		// .action-area-card {
		// 	flex-shrink: 0;
		// 	width: 200px; /* set the width of each card */
		// 	margin-right: 10px; /* add margin between cards */
		// }
	}
}
