.people {
	margin: 64px auto;
	width: 90%;
	.search-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		h1 {
			padding: 5px;
			font-size: 1.7rem;
		}
		.search {
			display: flex;
			width: 40%;
			align-items: center;
			input {
				width: 100%;
				position: relative;
				border-radius: 20px;
				padding: 10px;
				margin-right: 25px;
				outline: 2px solid #febf00;
				transition: 0.25s;
				border: none;
				outline-offset: 3px;
				&:focus {
					outline-offset: 5px;
				}
			}
			svg {
				position: absolute;
				right: 8%;
				width: 30px;
				height: 30px;
				padding: 3px;
				cursor: pointer;
			}
		}
	}
	.people-wrapper {
		display: grid;
		// grid-template-columns: repeat(6, 1fr);
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		grid-auto-rows: minmax(100px, auto);
		gap: 15px; /* khoảng cách giữa các ô */
		.item {
			width: 100%;
			border: 1px solid #ccc;
			border-radius: 15px;
			overflow: hidden;
			img {
				width: 100%;
				height: 353px;
			}
			p {
				font-weight: 600;
				font-size: 1.1em;
				padding: 8px 10px;
			}
		}
		.next-page {
			display: flex;
			justify-content: center;
			background-color: red;
		}
	}
}
@media only screen and (max-width: 600px) {
	.people {
		.search-wrapper {
			.search {
				input {
					padding-right: 20px;
					margin: 0;
				}
			}
		}
		.people-wrapper {
			gap: 10px;
			display: grid;
			// grid-template-columns: repeat(2, 1fr);
			grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			// grid-auto-rows: minmax(100px, auto);
			.item {
				width: 100%;
				img {
					width: 100%;
					height: 253px;
				}
			}
		}
	}
}
@media only screen and (min-width: 601px) and (max-width: 991px) {
	.people {
		.search-wrapper {
			.search {
				input {
					padding-right: 20px;
					margin: 0;
				}
			}
		}
		.people-wrapper {
			gap: 10px;
			display: grid;
			// grid-template-columns: repeat(2, 1fr);
			grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			grid-auto-rows: minmax(100px, auto);
			.item {
				width: 100%;
				img {
					width: 100%;
					height: 253px;
				}
			}
		}
	}
}
